.block{
    width: 250px;
    height: 250px;
    background: #0069;
    text-align: center;
    line-height: 250px;
    margin: 250px auto;
    border-radius: 50%;
    color: #26ff00;
    font-weight: bold;
    font-size: 60px;
}
.block:hover{
    background: #f76f00;
    font-size: 100px;
    transition: 0.3s;

}

body
{
    background: #f76f00;
    color: white;
    padding: 50px;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    height: 100%;

}
.div1{
    font-size: 30px;
}
.div2{
    font-size: 100px;
    font-weight: bold;
}
.div3{
    font-size: 100px;
    font-weight: bold;
}
.div4{
    font-size: 25px;
}
.container1{
    display: flex;
    flex-direction: row;
    gap: 300px;

}
.div2_1{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: bold;
    font-size: 20px;
}
.div2_2{
display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    font-size: 25px;
}
.div2_3{
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    font-size: 25px;
}
.img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
a{
    color: white;
}