body{
    background: white;
    font-family: 'Roboto:Bold', sans-serif;
}

.header{
    padding: 5px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;


}

.menu{
    display: flex;
    flex-direction: row;
    gap: 50px;

}

.logo img{
    height: auto;
    width: 100px;
}

.hero{
    position: relative;
    background: black;
    width: 100%;
    height: auto;
}

.hero img{
    display: block;
    width: 100%;
    height: 320px;
}

.black{
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
}
.title{
    color: red;
    z-index: 10;
    font-size: 73px;
    font-weight: bold;
}

.subtitle{
 color: white;
    font-size: 25px;
}

.ContainerText{
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.button{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    font-size: 20px;
    padding: 15px 40px;
    border-radius: 10px;
    margin-top: 60px;
    border: solid 1px white;
}
.cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 50px 30px;

}
.featured{
    font-size: 40px;
    font-weight: bold;
}
.featured1{
    font-size: 16px;
}
.producte{
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
    align-items: center;

}
.card{
    display: flex;
    flex-direction: column;
    background: black;
    border-radius: 6px;
    overflow: hidden;
    transition: transform .6s ease, box-shadow .6s ease;

}
.boom{
    width: 300px;
    height: 416px;
    display: block;

}
.detali{
    display: flex;
    flex-direction: row;
    color: limegreen;
    justify-content: space-between;
    padding: 15px 7px ;

}
.card:hover{
    transform: translateY(-5px)scale(1.01);
}
.choose_red{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
    justify-content: center;
    padding: 60px 170px;
    margin: 100px;
}
.up{
    font-weight: bold;
    font-size: 40px;
    font-family: 'Roboto:Bold', sans-serif;
}
.down{
    font-size: 16px;
    font-family: 'Roboto:Bold', sans-serif;
    width: 354px;
}
.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 358px;
    background: white;

}
.up_img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-shadow: 5px 5px 15px 5px #888888;
    padding: 10px;
}
.down_img_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}
.instr{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Roboto:Bold', sans-serif;
}
.desc{
    font-size: 16px;
    font-family: 'Roboto:Bold', sans-serif;
}
.container_lafel{
    display: flex;
    gap: 6px;
    align-items: center;
    flex-direction: row;
}
.up_img img{
    height: 100px;
    width: 88px;
    flex-shrink: 0;
}
.man{
    border-radius: 50%;
    width: 20px!important;
    height: 20px!important;
}
.staff{
    font-size: 14px;
    font-weight: bold;
}
.icon{
    width: 24px!important;
    height: 24px!important;
    box-shadow: 0 10px 20px -5px black!important;

}
.container_name{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.left{
    width: 358px;
    display: flex;
    gap: 24px;
    flex-direction: column;
}
.review{
    font-size: 40px;
    font-weight: bold;
}
.Customer_review{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 60px 170px;
    gap: 60px;
    position: relative;
    width: 100%;
}
.review_text{
    display: flex;
    flex-direction: row;
    gap: 40px;

}
.budinka{
    display: flex;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.text55{
    font-size: 16px;
    width: 135px;
}
.emoji{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.emm{
    height: 24px;
    width: 24px;
    box-shadow: 0 10px 20px -5px black!important;
}
.review_text2{
    display: flex;
    box-shadow: 5px 5px 15px 5px #888888;
    padding: 10px;
    flex-direction: column;
    gap: 16px;
}
.review_text3{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}
.borter{
    border: 1px grey solid;
    width: 100%;
    position: absolute;
    margin-bottom: 400px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.borter1{
    border: 1px grey solid;
    width: 100%;
    position: absolute;
    margin-top: 790px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.borter2{
    border: 1px grey solid;
    width: 100%;
    position: absolute;
    margin-bottom: 400px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.email{
    display: flex;
    flex-direction: column;
    margin-top: 110px;
    gap: 10px;
    justify-content: center;

}
.subscribe{
    display: flex;
    font-weight: bold;
    font-size: 40px;
    padding: 0px 100px;
    place-content: center;

}
.borter4{
    border: 1px grey solid;
    width: 100%;
    position: absolute;
    margin-bottom: 350px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);

}
.update{
    display: flex;
    font-size: 16px;
    place-content: center;
}
.email1{
    font-weight: bold;
    font-size: 14px;
    place-self: flex-start;
    padding-left: 390px;
}
.entergm{
    display: flex;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    place-self: flex-start;
    margin-left: 390px;
    border: grey solid 1px;
    width: 650px;
    padding: 6px;
    margin-top: 5px;
}
.subsc{
    display: flex;
    font-size: 16px;
    font-weight: bold;
    color: red;
}
.black1{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    font-size: 20px;
    border-radius: 10px;
    margin-top: 40px;
    width: 160px;
    height: 48px;
    place-content: center;
}
.mult{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    place-content: center;
}
.privacy{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
    place-self: flex-start;
    margin-left: 390px;
}
