body{
    background: white;

}

.header{
padding: 5px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;


}

.menu{
    display: flex;
    flex-direction: row;
    gap: 50px;

}

.logo img{
    height: auto;
    width: 100px;
}

.hero{
    position: relative;
    background: black;
    width: 100%;
    height: auto;
}

.hero img{
    display: block;
    width: 100%;
    height: 320px;
}

.black{
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
}
.title{
    color: red;
    z-index: 10;
    font-size: 73px;
    font-weight: bold;
}

.subtitle{
 color: white;
    font-size: 25px;
}

.ContainerText{
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.button{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    font-size: 20px;
    padding: 15px 40px;
    border-radius: 10px;
    margin-top: 60px;
    border: solid 1px white;
}
.cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 50px 30px;

}
.featured{
    font-size: 40px;
    font-weight: bold;
}
.featured1{
    font-size: 16px;
}
.producte{
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
    align-items: center;

}
.card{
    display: flex;
    flex-direction: column;
    background: black;
    border-radius: 6px;
    overflow: hidden;
    transition: transform .6s ease, box-shadow .6s ease;

}
.boom{
    width: 300px;
    height: 416px;
    display: block;

}
.detali{
    display: flex;
    flex-direction: row;
    color: limegreen;
    justify-content: space-between;
    padding: 15px 7px ;

}
.card:hover{
    transform: translateY(-5px)scale(1.01);
}